.container{
    width: 600px;
    margin: auto;
    font: normal 16px Arial,Helvetica,sans-serif;
}
.field{
    background-color: #fcfcfc;
    border: none;
    border-bottom: 1px #DADADA solid;
    padding:5px;

}
input::placeholder{
    color: dimgray;
}
.label{
    display: block;
}
.message-input textarea{
    border-color: #DADADA;
}
.label label{
    color: dimgray;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

}
.field{
    flex-grow: 1;
}

.label{
    margin-bottom: 10px;
}
.little{
    font-size: 15px;
    color: dimgray;
    margin:20px 0px;
}
.button button{
    background: rgb(0,180,248);
    background: linear-gradient(90deg, rgba(0,180,248,1) 0%, rgba(140,60,255,1) 100%);
    color: #fcfcfc;
    border: none;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    font-weight: bold;
    cursor:pointer;

}
.button{
    display: flex;
    justify-content: space-around;
}
