.container{
    margin: auto;
    font: normal 16px sans-serif;
}
.subject{
    text-align: center;

}
.form{
    width: 50%;
    margin: auto;
    padding: 50px 50px ;
    border:1px gray solid;
    border-radius: 5px;


    display: flex;
    flex-direction: column;
}



label{
    display: block;
    margin-bottom: 10px;
}
.message-input textarea{
    border-color: #DADADA;
}

.row{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input-lable {
    flex-grow: 1;

}
.dropMenu{
    flex-grow: 1;
}
.field{
    width: 100%;
    border:1px #DADADA solid;
}
.message-input{
    padding: 20px;
}

input,select{
    height: 40px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;

}

select{
    color: dimgray;
}


.button button{
    margin: 10px;
    background-color: #d87fa0;
    color: #fcfcfc;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    align-items: center;
    font-weight: bold;
    cursor:pointer;

}
.button{
    display: flex;
    justify-content: space-around;
}



